.array {
    display: flex;
    gap: 31px;

    .charts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        .poids {
            border: 1px solid red;
            height: 320px;
            border-radius: 5px;
        }

        .small-charts {
            display: flex;
            align-items: center;
            gap: 30px;

            .goals {
                border: 1px solid blue;
                width: 100%;
                height: 263px;
                border-radius: 5px;
            }

            .radar {
                border: 1px solid blue;
                width: 100%;
                height: 263px;
                border-radius: 5px;
            }

            .kpi {
                border: 1px solid blue;
                width: 100%;
                height: 263px;
                border-radius: 5px;
                background-color: #fbfbfb;
            }
        }
    }

    .nutrients {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 39px;
    }
}