main {
    .error-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        h1 {
            color: red;
            font-size: 288px;
            font-weight: 700;
        }
        
        p {
            color: red;
            font-size: 36px;
            font-weight: 500;
        }
        
        .link {
            font-size: 18px;
            font-weight: 500;
            margin-top: 50px;
        }
    }
}